<div class="container-fluid p-0 m-0">
    <div class="row bg-sidebar">
        <div class="login-main-header bg-white p-3 d-lg-none d-block">
            <img src="assets/img/logo-axdif.svg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-3 d-lg-block d-none">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9 col-12 pt-lg-0 mt-lg-0 pt-3 mt-lg-3">
            <h1 class="title d-lg-none d-block my-3 py-3">A few clicks away from being parts from Axdif</h1>
            <div class="container register-container py-3 my-3">
                <div class="login-main-header d-lg-block d-none">
                    <img src="assets/img/logo-axdif.svg" class="img-fluid" alt="">
                </div>
               <div class="row justify-content-center py-5 my-5 position-relative text-center align-items-center">
                    <img src="assets/img/verif.png" class="img-fluid img-verif d-lg-block d-none" alt="">
                    <img src="assets/img/verif-mobile.png" class="img-fluid img-verif d-block d-lg-none" alt="">
                    <div class="register-button d-flex justify-content-center mt-5">
                        <button routerLink="/login" class="btn btn-danger px-5"> Submit</button>
                    </div>
               </div>
            </div>
            <p class="copyright mt-5 mt-lg-0 text-lg-start text-center">&copy; Copyright 2023. All right Reserved</p>
        </div>
    </div>
</div>